# Игнорирование всех файлов в папке и подпапках проекта
*

# Исключение из игнорирования файлов со следующими расширениями:

# Microsoft office:
!*.docx
!*.doc
!*.dot
!*.dotm
!*.dotx

!*.xlsx
!*.csv
!*.ods
!*.xlsx
!*.xlsb
!*.xlsm

!*.pptx
!*.potx
!*.pps
!*.ppsm
!*.ppsx
!*ppt

# Игнорирование сервисных файлов microsoft office:
~*

# OpenDocument:
!*.odt
!*.odm
!*.html
!*.ods
!*.odg
!*.odp
!*.odf
!*.odb
!*.oxt

# Файлы с исходным кодом:
!*.c
!*.h

# Форматы документации:
!*.pdf
!*.txt
!*.md

!*.gitignore




