# Игнорирование всех файлов в папке и подпапках проекта
*

# Исключение из игнорирования файлов со следующими расширениями:
!*.docx
!*.doc
!*.c
!*.h
!*pdf
!.xlsx
!*pptx
!.gitignore

# Включение в игнорирование сервисных файлов:
~*

